torch==2.9.1 --index-url https://download.pytorch.org/whl/cu124
torchvision --index-url https://download.pytorch.org/whl/cu124
lightning>=2.5.0
jsonargparse[signatures]>=4.27.7
tensorboard
tensorboardx
albumentations>=1.4.4
omegaconf
einops>=0.7.0
requests
transformers>=4.47.0
lpips
av
decord
